header {
    display: flex;
    width: 100%;
    justify-content: center;
}

.page-container {
    display: flex;
    height: 700px;
    width: 100%;
    justify-content: space-around;
}

.grid-controls {
    height: 600px;
    width: 200px;
    border: solid black 2px;
    margin-top: 50px;
}

.slider-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h6 {
    margin: 0;
    text-align: center;
    padding-top: 5px;
}

.grid {
    display: flex;
    height: 600px;
    width: 600px;
    border: solid black 2px;
    margin-top: 50px;
    flex-direction: column;
    background-color: white;
}

.grid-row {
    flex: 1;
    display: flex;
    
}

.square {
    flex: 1;
    border: solid gray 1px;
    
}