.page-container {
    display: flex;
    height: 600px;
    width: 600px;
    border: solid black 2px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: 100px;
    flex-direction: column;
    background-color: white;
}

.grid {
    flex: 1;
    display: flex;
    
}

.square {
    flex: 1;
    border: solid gray 1px;
    cursor: default;
}